*{
    font-family:  'Poppins',sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #091D25;

}


header{
    padding: 40px 20px 0 0;
    
    display: flex;
    justify-content: flex-end;

}

#light{

    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e0f6ff;
    margin: 0 6px 0 6px ;
    cursor: pointer;

}
#dark{

    background-color: #20627c;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 6px 0 6px ;
    cursor: pointer;

}


main{
    /* margin: 20px 0 0 0 ; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    color: white;
    font-size: 70px;
    font-weight: 500;
}

.input-box{
    background-color: #18394D;
    /* opacity: .3; */
    width: 500px;
    height: 30px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #0F2837;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    height: 30px;
    cursor: pointer;
}
input{
    background-color: transparent; 
     border: none;
     padding-left: 20px; 
     color: white;
     outline: none;
     width: 400px;
}

.list{
    margin: 20px 0 0 0;
}



.li{
    background-color:#0F2837 ;
    color: white;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 30px;
    min-width: 250px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    
}

.check-li{
    text-decoration: line-through;
    color: grey;
    
}

.checked{
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
}
.delete{
    background-color: #091D25;
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.li i{
    margin: 0 10px 0 10px;
    font-size: 17px;
    height: 17px;
    color: black;
    cursor: pointer;
}


/* Responsive ----------------------------------- */
@media (max-width:762px) {
    .input-box{
        background-color: #18394D;
        width: 70%;
        
    }

    button{
        width: 20%;
    }
    input{
        width: 80%;
    }
}
@media (max-width:560px) {
    h2{
        color: white;
        font-size: 50px;
        font-weight: 500;
    }
    .input-box{
        background-color: #18394D;
        width: 70%;
        
    }

    button{
        width: 30%;
    }
    input{
        width: 70%;
    }
}